.jllikeproSharesContayner { padding: 0 }
.jllikeproSharesContayner .event-container { padding: 0; width: auto; height: auto;}
.jllikeproSharesContayner .event-container>div {
padding: 10px 10px 10px 5px;
width: auto;
height: auto;

}
.jllikeproSharesContayner
a {
float: none;
width: auto;
height: auto;
display: inline-block;
background-image: none;
font-size: 0;
vertical-align: top;
padding: 0;
margin: 0 0 0 5px;
background-color: rgba(18,35,52,.1);
-webkit-border-radius: 15px;
-webkit-background-clip: padding-box;
-moz-border-radius: 15px;
-moz-background-clip: padding;
border-radius: 15px;
background-clip: padding-box;
background-position: 0 center;
}
.jllikeproSharesContayner a.like-not-empty
span { padding: 0 10px }
.jllikeproSharesContayner a.l-fb .l-ico {
background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20baseProfile%3D%22basic%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2040%2040%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M24.2%2011.3h2.3v-4.3h-3.5c-4.3%200-6%202.9-6%206.1v2.6h-3.5v4.3h3.5v13h5v-13h4l.5-4.3h-4.5v-2.6c0-1.2.4-1.8%202.2-1.8z%22%2F%3E%3C%2Fsvg%3E");
background-repeat: no-repeat;}
.jllikeproSharesContayner a.l-fb { background-color: #3a5795 }
.jllikeproSharesContayner a.l-vk .l-ico {
background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20baseProfile%3D%22basic%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2040%2040%22%3E%3Cpath%20fill%3D%22%23fff%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M29.7%2020.7c-.9-.9-1.5-1.5-3.1-1.8v-.1c1.1-.5%201.9-1.1%202.5-1.9.6-.8.9-1.7.9-2.8%200-.9-.2-1.7-.7-2.4-.4-.7-1.1-1.3-2-1.7-.9-.4-1.7-.7-2.6-.8-.8-.1-2.7-.2-4.6-.2h-9.1v22h10.2c1.7%200%203.1-.1%204.2-.4%201.1-.3%202.1-.7%203-1.4.8-.6%201.4-1.2%201.9-2.1.5-.8.7-1.8.7-2.8%200-1.5-.4-2.7-1.3-3.6zm-12.7-8.2h3.0999999999999996c.8%200%201.4.1%201.9.3.6.2%201%20.5%201.2%201%20.2.4.3.9.3%201.3%200%20.6-.1%201.1-.3%201.5-.2.4-.6.8-1.2%201-.5.2-1.1.3-1.8.4h-3.2v-5.5zm7.1%2012.9c-.3.5-.7.8-1.4%201.1-.7.3-1.4.4-2.2.4h-3.5v-6h3.4c.9%200%201.6.1%202.1.2.7.2%201.3.5%201.6%201%20.3.4.5.9.5%201.7-.1.7-.2%201.2-.5%201.6z%22%2F%3E%3C%2Fsvg%3E");
background-repeat: no-repeat;}
.jllikeproSharesContayner a.l-vk { background-color: #4e7299 }
.jllikeproSharesContayner a.l-tw .l-ico {
background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20baseProfile%3D%22basic%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2040%2040%22%3E%3Cpath%20fill%3D%22%23fff%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M31%2013.1c-.8.4-1.7.6-2.6.7.9-.6%201.7-1.5%202-2.5-.9.5-1.8.9-2.9%201.1-.8-.9-2-1.4-3.3-1.4-2.5%200-4.5%202-4.5%204.5%200%20.4%200%20.7.1%201-3.8-.2-7.1-2-9.3-4.8-.4.7-.6%201.5-.6%202.3%200%201.6.8%203%202%203.8-.7%200-1.4-.2-2.1-.6v.1c0%202.2%201.6%204%203.6%204.5-.4.1-.8.2-1.2.2-.3%200-.6%200-.8-.1.6%201.8%202.2%203.1%204.2%203.2-1.5%201.2-3.5%201.9-5.6%201.9-.4%200-.7%200-1.1-.1%202%201.3%204.4%202.1%206.9%202.1%208.3%200%2012.9-6.9%2012.9-12.9v-.6c.9-.7%201.7-1.5%202.3-2.4z%22%2F%3E%3C%2Fsvg%3E");
background-repeat: no-repeat;}
.jllikeproSharesContayner a.l-tw { background-color: #00aeef}
.jllikeproSharesContayner a.l-ok .l-ico {
background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20baseProfile%3D%22basic%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2040%2040%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M20%2020.5c3.4%200%206.2-2.8%206.2-6.3s-2.8-6.3-6.2-6.3c-3.4%200-6.2%202.8-6.2%206.3s2.8%206.3%206.2%206.3zm0-9.5c1.8%200%203.3%201.5%203.3%203.3s-1.5%203.3-3.3%203.3c-1.8%200-3.3-1.5-3.3-3.3s1.5-3.3%203.3-3.3zm6.7%2010.2c-.5-.7-1.5-.8-2.2-.3%200%200-1.7%201.3-4.5%201.3s-4.5-1.3-4.5-1.3c-.7-.5-1.7-.4-2.2.3-.5.7-.4%201.7.3%202.2.1.1%201.7%201.3%204.4%201.8l-4.1%204.2c-.6.6-.6%201.6%200%202.2.3.3.7.5%201.1.5.4%200%20.8-.2%201.1-.5l3.9-4%203.9%204c.3.3.7.5%201.1.5.4%200%20.8-.2%201.1-.5.6-.6.6-1.6%200-2.2l-4.1-4.3c2.7-.5%204.3-1.7%204.4-1.8.7-.5.8-1.5.3-2.1z%22%2F%3E%3C%2Fsvg%3E");
background-repeat: no-repeat;}
.jllikeproSharesContayner a.l-ok { background-color: #f6851f }
.jllikeproSharesContayner a.l-ml .l-ico{
background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20baseProfile%3D%22basic%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2040%2040%22%3E%3Cpath%20fill%3D%22%23fff%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M33%2020c0-7.2-5.8-13-13-13s-13%205.8-13%2013%205.8%2013%2013%2013c1.6%200%203.3-.3%204.8-.9.7-.3%201.1-1.1.8-1.8-.3-.7-1.1-1.1-1.8-.8-1.2.5-2.4.7-3.7.7-5.6%200-10.2-4.6-10.2-10.2%200-2.8%201.1-5.4%203-7.2%201.8-1.8%204.4-3%207.2-3s5.4%201.1%207.2%203c1.8%201.8%203%204.4%203%207.2%200%201.4-.3%203.5-.8%204.9-.7%201.8-2%201.3-2-.3v-9.2c0-1.2-1.5-1.9-2.4-1-1.4-1.3-3.2-2-5.2-2-4.2%200-7.6%203.4-7.6%207.6%200%204.2%203.4%207.6%207.6%207.6%201.8%200%203.5-.7%204.9-1.7.4%201.7%201.7%202.7%203.2%202.9%204.1.6%205-5.9%205-8.8zm-9.8%203.4c-.9.9-2.1%201.4-3.4%201.4-2.7%200-4.8-2.2-4.8-4.8%200-2.7%202.2-4.8%204.8-4.8%201.3%200%202.5.5%203.4%201.4%201.9%201.8%201.9%205%200%206.8z%22%2F%3E%3C%2Fsvg%3E");
background-repeat: no-repeat;}
.jllikeproSharesContayner a.l-ml { background-color: #356ca4 }
.jllikeproSharesContayner a.l-gp .l-ico {
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'  viewBox='-60 -60 710.117 710.117' %3E%3Cpath fill='%23fff' fill-rule='evenodd' clip-rule='evenodd' d='M516.375,255v-76.5h-51V255h-76.5v51h76.5v76.5h51V306h76.5v-51H516.375z M320.025,341.7l-28.051-20.4%0Ac-10.2-7.649-20.399-17.85-20.399-35.7s12.75-33.15,25.5-40.8c33.15-25.5,66.3-53.55,66.3-109.65c0-53.55-33.15-84.15-51-99.45%0Ah43.35l30.6-35.7h-158.1c-112.2,0-168.3,71.4-168.3,147.9c0,58.65,45.9,122.4,127.5,122.4h20.4c-2.55,7.65-10.2,20.4-10.2,33.15%0Ac0,25.5,10.2,35.7,22.95,51c-35.7,2.55-102,10.2-150.45,40.8c-45.9,28.05-58.65,66.3-58.65,94.35%0Ac0,58.65,53.55,114.75,168.3,114.75c137.7,0,204.001-76.5,204.001-150.449C383.775,400.35,355.725,372.3,320.025,341.7z%0AM126.225,109.65c0-56.1,33.15-81.6,68.85-81.6c66.3,0,102,89.25,102,140.25c0,66.3-53.55,79.05-73.95,79.05%0AC159.375,247.35,126.225,168.3,126.225,109.65z M218.024,568.65c-84.15,0-137.7-38.25-137.7-94.351c0-56.1,51-73.95,66.3-81.6%0Ac33.15-10.2,76.5-12.75,84.15-12.75s12.75,0,17.85,0c61.2,43.35,86.7,61.2,86.7,102C335.324,530.4,286.875,568.65,218.024,568.65z%0A'/%3E%3C/svg%3E%0A");
background-repeat: no-repeat;}
.jllikeproSharesContayner a.l-gp { background-color: #DC4E41 }
.jllikeproSharesContayner a.l-ln .l-ico {
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'  viewBox='-120 -120 700.117 700.117'%3E%0A	%3Cpath fill='%23fff' d='M430.117,261.543V420.56h-92.188V272.193c0-37.271-13.334-62.707-46.703-62.707%0A		c-25.473,0-40.632,17.142-47.301,33.724c-2.432,5.928-3.058,14.179-3.058,22.477V420.56h-92.219c0,0,1.242-251.285,0-277.32h92.21%0A		v39.309c-0.187,0.294-0.43,0.611-0.606,0.896h0.606v-0.896c12.251-18.869,34.13-45.824,83.102-45.824%0A		C384.633,136.724,430.117,176.361,430.117,261.543z M52.183,9.558C20.635,9.558,0,30.251,0,57.463%0A		c0,26.619,20.038,47.94,50.959,47.94h0.616c32.159,0,52.159-21.317,52.159-47.94C103.128,30.251,83.734,9.558,52.183,9.558z%0A		 M5.477,420.56h92.184v-277.32H5.477V420.56z'/%3E%3C/svg%3E%0A");
background-repeat: no-repeat;}
.jllikeproSharesContayner a.l-ln { background-color: #0077B5 }
.jllikeproSharesContayner a.l-pinteres .l-ico {
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%0A	 viewBox='-10 -10 120.001 120.001' %3E%3Cpath fill='%23fff' d='M43.081,66.14c-2.626,13.767-5.833,26.966-15.333,33.861c-2.932-20.809,4.307-36.436,7.668-53.027%0A		c-5.73-9.646,0.689-29.062,12.777-24.277c14.873,5.885-12.881,35.865,5.75,39.611c19.453,3.908,27.395-33.752,15.332-46%0A		C51.847-1.376,18.542,15.905,22.638,41.224c0.996,6.191,7.391,8.068,2.555,16.611c-11.154-2.473-14.484-11.27-14.055-23%0A		c0.69-19.197,17.25-32.639,33.86-34.498c21.006-2.352,40.721,7.711,43.443,27.471c3.066,22.303-9.48,46.459-31.943,44.721%0A		C50.41,72.056,47.853,69.04,43.081,66.14z'/%3E%3C/svg%3E%0A");
background-repeat: no-repeat;}
.jllikeproSharesContayner a.l-pinteres { background-color: #BD081C }
.jllikeproSharesContayner
i {vertical-align: top;float: none;display: inline-block;width: 30px;height: 30px;background-image: none;-webkit-border-radius: 50%;-webkit-background-clip: padding-box;-moz-border-radius: 50%;-moz-background-clip: padding;border-radius: 50%;background-clip: padding-box;position: static;}
.jllikeproSharesContayner span {vertical-align: top;float: none;display: inline-block;width: auto;height: 30px;background-image: none;position: static;font-size: 1rem;line-height: 30px;color: #122334;-webkit-transition: all .2s;-moz-transition: all .2s;-o-transition: all .2s;transition: all .2s;}
body>p:first-child { display: none }
.like .l-count { cursor: default }
.like i { cursor: pointer }
.l-all i {display: none;}
.l-all-count {margin-left: 20px;margin-right: 20px;}
.likes-block_left {text-align:left;}
.likes-block_right {text-align:right;}
.event-container {padding-left: 12px;padding-right: 12px;}
.event-container .like .l-count {color: #FFF;}
.jllikeproSharesContayner a:hover { opacity: 0.85; }
.jllikeproSharesContayner a {margin-bottom: 6px;}

@media screen and (max-width:800px) {
.jllikeproSharesContayner {position: fixed;right: 0;bottom: 0; z-index: 999999; background-color: #fff!important;width: 100%;}
.jllikeproSharesContayner .event-container > div {border-radius: 0; padding: 0; display: block;}
.like .l-count {display:none}
.jllikeproSharesContayner a {border-radius: 0!important;margin: 0!important;}
.l-all-count {margin-left: 10px; margin-right: 10px;}	
.jllikeproSharesContayner i {width: 44px!important; border-radius: 0!important;}
.l-ico {background-position: 50%!important}
.likes-block_right {text-align:left;}
.button_text {display: none;}
.blog .jllikeproSharesContayner{display:none}
.itemListView .jllikeproSharesContayner{display:none}
}